.background {
    width: 100%;
    height: 100%;
    height: 1575px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -20;
    overflow: hidden;
}
.background__container {
    width: 100%;
    height: 1075px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: url(../images/Subtract.svg);
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.background__hedgehog_left,
.background__hedgehog_right,
.backgound__circle_left,
.backgound__circle_right {
    position: absolute;
}
.background__hedgehog_left {
    left: 0;
    bottom: -27px;
    bottom: 473px;
    z-index: 15;
}
.background__hedgehog_right {
    // right: -17px;//то надо то нет

    right: -17px;
    right: 0;
    // это вообще хз
    bottom: 499px;

    z-index: 15;
}
.backgound__circle_left {
    background: radial-gradient(50% 50% at 50% 50%, rgba(180, 197, 194, 0.83) 0%, rgba(224, 225, 225, 0) 100%);
    height: 1048px;
    width: 1048px;
    left: -533px;
    top: -474px;
    border-radius: 0px;
    z-index: 12;
}
.backgound__circle_right {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 238, 206, 0.49) 0%, rgba(196, 196, 196, 0) 100%);
    height: 1582px;
    width: 1582px;
    left: 1028px;
    top: -73px;
    border-radius: 0px;
    z-index: 12;
}
.backgound__circle_mobile {
    display: none;
}
@media (max-width: 991.98px) {
    .background__hedgehog_right {
        //подбирал вручную параметры
        height: 215px;
        width: 284px;
        top: 298px;
        right: 0;
    }
    .backgound__circle_mobile {
        position: absolute;
        width: 1012px;
        height: 1012px;
        left: -139px;
        top: -159px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 238, 206, 0.49) 0%, rgba(196, 196, 196, 0) 100%);
    }
    .background__container {
        background-size: 100% 42%;
        background-size: contain;
    }
}
