.br {
    display: none;
}
.benefits {
    // min-width: 260px;
    // min-height: 427px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-items: stretch;
    width: 45.7291vw;
    position: relative;
    left: 12px;
}
.benefits__item {
    min-height: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.benefits__ellipse {
    min-width: 92.24px;
    min-height: 92.24px;
    width: 7.916vw;
    height: 7.916vw;
    //35,4769vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefits__icon {
    background-size: cover;
    background-repeat: no-repeat;
}
.hadghog__icon {
    width: 62px;
    height: 35px;

    background-image: url(../images/icons/hedghog_icon.svg);
}
.syringe__icon {
    height: 33.37731170654297px;
    width: 34.905372619628906px;
    background-image: url(../images/svg/syringe.svg);
}
.heart__icon {
    height: 32.49882888793945px;
    width: 36.277095794677734px;
    background-image: url(../images/svg/heart.svg);
}
.benefits__ellipse_almond {
    background: #ffedcd;
    box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
}
.benefits__ellipse_light_green {
    background: #e2f0df;
    box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
}
.benefits__ellipse_green {
    background: #70908b;
    border: 1px solid #94afab;
    box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
}
.benefits__title {
    font-family: "Cormorant Infant-700";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: #195557;
    margin-top: 30px;
    margin-bottom: 8px;
}
.benefits__description {
    font-family: "Raleway-400";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;

    color: #195557;
    max-width: 182px;
    height: 191px;
}
@media (max-width: 991.98px) {
    .benefits {
        // width: 260px;
        // row-gap: 31px;

        padding-left: 5.68px;
        padding-top: 48px;
        left: 0;
        width: 100%;
        flex-wrap: wrap-reverse;
        // justify-content: space-between;
        row-gap: 29px;
        column-gap: 20px;
    }
    .benefits__item {
        //height: 201px;
        height: 176px;
        flex-basis: 125px;
        justify-content: flex-start;
        align-items: flex-start;

        &:first-child {
            order: 2;
            height: 181px;
        }
        &:nth-child(3) .benefits__title {
            margin-bottom: 1px;

        }
    }
    .hadghog__icon {
        height: 19.891273498535156px;
        width: 36.23126220703125px;
    }
    .syringe__icon {
        height: 21.767810821533203px;
        width: 22.764373779296875px;
    }
    .heart__icon {
        height: 20.406240463256836px;
        width: 22.778642654418945px;
    }
    .benefits__title {
        & .br {
            display: inline;
        }
        font-family: "Cormorant Infant-700";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        color: #195557;
        margin-top: 19px;
        margin-bottom: 6px;
    }

    .benefits__description {
        & .br {
            display: inline;
        }

        font-family: "Raleway-400";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 159.9%;
        /* or 16px */

        color: #195557;
        text-align: left;
    }
}
