*,
*::after,
*::before,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  font-size: 10px;

}
/* 1 – Изменим стили шрифтов */
/* 2 – Удалим margin в Firefox и Safari */
input[type="text"] {
  font-family: inherit; /* 1 */
  font-size: inherit; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}
// .stop_scrolling {
//   height: 100%;
//   overflow: hidden;
// }

// @media (max-width: 1199.98px) {
//     .menu__item:nth-child(n + 1) {
//         margin-right: 1.5vw;
//     }
//     .phone {
//         margin-right: 1.5vw;
//     }
//     .benefits{
//       justify-content: center;
//     }
// }