@font-face {
    font-family: "Cormorant Infant";
    font-style: normal;
    src: url("../fonts/cormorant-infant-cufonfonts/CormorantInfant-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Cormorant Infant-700";
    font-style: normal;
    src: url("../fonts/cormorant-infant-cufonfonts/CormorantInfant-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Cormorant Infant-400";
    font-style: normal;
    src: url("../fonts/cormorant-infant-cufonfonts/CormorantInfant-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway-700";
    font-style: normal;
    src: url("../fonts/raleway/static/Raleway-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-500";
    font-style: normal;
    src: url("../fonts/raleway/static/Raleway-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway-400";
    font-style: normal;
    src: url("../fonts/raleway/static/Raleway-Regular.ttf") format("truetype");
}
