@font-face {
    font-family: "RobotoFlex";
    font-style: normal;
    src: url("../fonts/roboto-flex/RobotoFlex[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght].ttf") format("truetype");
}
@font-face {
    font-family: "Manrope";
    font-style: normal;
    src: url("../fonts/Manrope-Regular.ttf") format("truetype");
}