.footer {
    display: flex;
    flex-direction: column;
    background-color: #70908b;
    & .menu {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 30px;
        top: 0;
        margin-top: 61.93px;
        margin-bottom: 54px;
    }
    & .phone__number {
        display: block;
        margin-left: -1px;
    }
    & .menu__item {
        display: inline;
        margin: 0;
        padding: 0;
        &::after {
            background-color: white;
        }
    }
    & .menu__item {
        font-family: "Cormorant Infant-700";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;

        color: #ffffff;
    }
}
.text_white {
    color: white;
}
.footer__wrapper {
    height: 100%;
    position: relative;
    padding-left: 20px;
    padding-top: 35px;
}
.social {
    position: absolute;
    top: 46px;
    right: 25px;
}
.social__icon {
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.instagram {
    background-image: url(../images/svg/instagram.svg);
    margin-bottom: 22px;
}
.facebook {
    background-image: url(../images/svg/facebook.svg);
    margin-bottom: 20px;
}
.twitter {
    background-image: url(../images/svg/twitter.svg);
}

.logo_footer {
    height: 56.073020935058594px;
    width: 120.54487609863281px;
    background-image: url(../images/svg/Logo_white.svg);
    left: 0;
}
.copyright {
    width: 265px;

    font-family: "Raleway-400";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 131.4%;
    /* or 14px */

    color: #ffffff;
    margin-top: 34px;
    margin-left: 20px;
    margin-bottom: 36px;
    & .br {
        display: inline;
    }
}
