.main {
    //  width: 320px; //-----------------
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 207px;
}
.main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //margin-bottom: 134px;
    margin-bottom: 127px;
    position: relative;
    // left: 9px; //то надо то нет
}

.main__description {
    font-family: "Raleway-400";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.44px;

    color: #70908b;
}
.main__h1_svg {
    width: 443.41px;
    width: 23.09427vw;
    min-width: 205.45px;
    min-height: 44px;
    height: 94.68px;
    background-image: url(../images/svg/HEDGEHOGS.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.main__subtitle {
    // width: 566px;
    height: 61px;
    font-family: "Cormorant Infant-400";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */

    text-transform: uppercase;

    color: #70908b;
    margin: 19.32px 0 18px 0;
}
.button__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    width: 328px;
    margin-top: 34px;

    padding: 1.5rem;
    cursor: pointer;
    background: #70908b;
    box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
    border-radius: 40px;
    font-family: "Raleway-700";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;

    transition: all ease-in-out 400ms;
    &:hover {
        // transition: all ease-in-out 400ms;
        background: linear-gradient(90.14deg, #b0d3ce -2.41%, #ffedce 99.79%);
        /* iso */
        color: #195557;
        box-shadow: 4px 4px 20px #c2ccca, -8px -8px 20px #ffffff;
    }
}
@media (max-width: 991.98px) {
    .main__container {
        margin-top: 48px;
        margin-left: 19.32px;
        align-items: flex-start;
        overflow: hidden;
    }
    .main__content {
        width: 276.64px;
        height: 208px;

        justify-content: flex-start;
        align-items: flex-start;
    }
    // .main__h1_svg{
    //     margin-bottom: 12px;
    // }
    .main__subtitle {
        font-size: 24px;
        line-height: 29px;
        margin-top: 12px;
        margin-bottom: 7px;
    }
    .main__description {
        width: 274.61px;
        height: 54px;
        font-size: 12px;
        line-height: 146.4%;
    }
    .button__buy {
        width: 285.8px;
        height: 59px;
        padding: 22px 0 21px 0;
        margin: 0;
        margin-top: 3px;
        box-shadow: none;
        border-radius: 40px;
        margin-left: 1px;
    }
}
@media (max-width: 991.98px) {
    .main__content {
        margin-bottom: 0;
    }
}
