.tiles {
    width: 100%;
    position: relative;
    top: -36px;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow-x: hidden; то надо то нет
}
.tiles__slider {
    width: 1297px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    //left: 8px; то надо то нет
}
.arrow {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: -26px;
    cursor: pointer;
}

.arrow_left {
    background-image: url(../images/svg/arrow_left.svg);
}
.arrow_right {
    background-image: url(../images/svg/arrow_right.svg);
}
.tiles_items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 35px;
    margin-bottom: 54px;
    position: relative;
    column-gap: 39px;
}
.tile__triangle {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0 0 20px 0;

    width: 104px;
    height: 104px;
    overflow: hidden;
}
.tile__triangle_first {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 82px solid #ffedcd;
    border-left: 82px solid #ffedcd;
    z-index: -5;
}
.tile__triangle_second {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 82px solid transparent;
    border-right: 82px solid white;
}
.tile__plus {
    position: relative;
    right: -51px;
    bottom: 26.6px;

    background-image: url(../images/svg/plus.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
}

.tile__item {
    position: relative;
    top: 1px;
    min-width: 330.76px;
    min-height: 318px;
    box-shadow: 4px 4px 40px #f1f1f1;
    border-radius: 20px;
    width: 29.6875vw;
    height: 397px;

    &:nth-child(1) {
        background-color: #ffedcd;
    }
    &:nth-child(2) {
        background: #e2f0df;
    }
    &:nth-child(2) .discount {
        position: absolute;
        left: 59px;
    }
    &:nth-child(2) .tile__hedgehog_image {
        min-width: 230px;
        min-height: 166.5px;
        height: 16.84109375vw;
        width: 23.453125vw;

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/images/Hedgehog_Maxim.png);
        right: -62px;
    }
    &:nth-child(2) .tile__price_old {
        position: relative;
        top: 7px;
        left: 3px;
    }
    &:nth-child(2) .tile__price_current {
        position: relative;
        top: 11px;
        left: 3px;
    }
    &:nth-child(2) .tile__plus {
        position: relative;
        top: -33px;
    }
}
.discount {
    width: 48px;
    height: 21px;

    height: 36px;
    width: 68px;
    // width: 3.5416vw;
    // height: 1.875vw;
    // max-height: 36px;
    // max-width: 68px;

    background-color: #70908b;
    font-family: "Raleway-700";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    left: 62px;
}

.info__icon {
    position: absolute;
    top: 19px;
    right: 28px;
    width: 37px;
    height: 37px;
    background-image: url(../images/icons/info__icon.svg);
    cursor: pointer;
    z-index: 300;
    &:hover + .info_block {
        background: #195557;

        height: 4.114583vw;
        width: 11.4583vw;
        min-height: 79px;
        min-width: 220px;
        position: absolute;
        right: -63px;
        top: 72px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1000;
        & .info_icon_text {
            font-size: 14px;
            line-height: 22px;
        }
    }
}
.info {
    position: absolute;
    width: 100%;
    height: 100%;
}
.syringe__block,
.likes__block {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;

    & .syringe__icon {
        height: 9.222063064575195px;
        width: 9.644259452819824px;
        margin-right: 2px;
        background-size: contain;
        background-position: center;
    }
    & .heart__icon {
        height: 8.127988815307617px;
        width: 9.072938919067383px;
        background-size: contain;
        background-position: center;
        position: relative;
        left: -2px;
        top: 0;
    }
}
.info_block {
    display: none;
    background: #195557;
    & .syringe__icon {
        height: 18.86543846130371px;
        width: 19.729124069213867px;

        fill: white;
    }
    & .heart__icon {
        height: 16.627304077148438px;
        width: 18.560375213623047px;
        top: 0;
        left: 0;
        fill: white;
    }
}
.info_block__triangle {
    z-index: 1000;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 9px solid #195557;
    position: absolute;
    top: -9px;
    left: calc(50% - 14px);
}

.info_icon_text {
    font-family: "Raleway-400";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 159.9%;
    text-transform: lowercase;

    color: #195557;
}
.tile__content {
    height: 100%;
    width: 100%;
    padding-top: 54px;
    padding-left: 59px;
    padding-bottom: 33px;
    position: relative;
    display: flex;
}
.tile__hedgehog_image {
    position: absolute;
    bottom: -37px;
    right: -39px;
    background-image: url(../images/images/Hedgehog_Eugene.png);

    min-width: 177px;
    min-height: 129px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: flex-end;
    width: 22.36vw;
    height: 17.4140625vw;
}
.tile__content_block {
    height: 285px;
    width: 204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.tile__title {
    font-family: "Cormorant Infant-700";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #195557;
}
.tile__description {
    height: 114px;
    width: 182px;
    padding-top: 12px;
    padding-left: 3px;
    font-family: "Raleway-400";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    color: #000000;
}
.tile__price_old {
    font-family: "Cormorant Infant-700";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #c2ccca;

    margin-top: 23px;
}
.tile__price_current {
    font-family: "Cormorant Infant-700";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #195557;
    margin-top: -9px; //опять ебется
}

//----------------------------------

@media (max-width: 991.98px) {
    .tiles {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding-top: 38px;
        padding-bottom: 19px;
        padding-left: 21px;
        overflow: hidden;
    }
    .tile__content {
        padding: 44px 0 31px 29px;
    }
    .tile__content_block {
        justify-content: flex-start;
        row-gap: 11px;
    }
    .tile__item {
        min-width: auto;
    }
    .tile__item:first-child {
        height: 318px;
        width: 243.75924682617188px;
        position: relative;
        margin-right: 34.24px;
    }
    .tile__item:nth-child(2) {
        height: 318px;
        width: 243.75924682617188px;
    }

    .tile__title {
        height: 55px;
        width: 122px;

        font-size: 30px;
        line-height: 99.6%;
    }

    .tile__description {
        & .br {
            display: inline;
        }
        width: 132px;
        height: 114px;
        font-size: 11px;
        line-height: 16px;
        padding-top: 4px;
        padding-left: 1px;
        position: relative;
        top: -1px;
    }
    .discount {
        height: 21px;
        width: 48px;
        font-size: 12px;
        line-height: 14px;
        top: -5px;
        left: 30px;
    }

    .info_block {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 18.92px;
        position: absolute;
        right: 19.7px;
        top: 12px;
        z-index: 50;
        background-color: transparent;
        & .info_block__triangle {
            display: none;
        }
        & .text_white {
            color: #195557;
        }
        & .syringe__icon {

            fill: #195557;
        }
        & .heart__icon {

            fill: #195557;
        }
    }
    .info__icon {
        display: none;
    }
    .syringe__block,
    .likes__block {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2px;

        & .syringe__icon {
            height: 9.222063064575195px;
            width: 9.644259452819824px;
            margin-right: 2px;
            background-size: contain;
            background-position: center;
        }
        & .heart__icon {
            height: 8.127988815307617px;
            width: 9.072938919067383px;
            background-size: contain;
            background-position: center;
            position: relative;
            left: -2px;
            top: 0;
        }
    }

    .syringe__status {
        text-transform: lowercase;
    }
    .likes__count {
        text-transform: lowercase;
        font-feature-settings: "pnum" on, "lnum" on;
    }

    .tile__hedgehog_image {
        min-width: 186.27px;
        min-height: 163.9px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 25px;
        right: -52px;
    }
    .tile__triangle {
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 0 0 20px 0;

        width: 104px;
        height: 104px;
        overflow: hidden;
    }
    .tile__triangle_first {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 52px solid #ffedcd;
        border-left: 52px solid #ffedcd;
        z-index: -5;
    }
    .tile__triangle_second {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-top: 52px solid transparent;
        border-right: 52px solid white;
    }
    .tile__plus {
        position: absolute;
        height: 24px;
        width: 24px;
        right: -52px;
        bottom: 0;
        background-image: url(../images/svg/plus.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .tiles_items {
        margin: 0;
        column-gap: 5px;
    }
    .arrow {
        display: none;
    }
    .tile__price_old {
        margin-top: 0;
        position: relative;
        top: -3px;
    }
    .tile__price_current {
        position: relative;
        top: -10px;
    }
}
